main.main{
  min-height: 20vh;
}
/* #3e11ba, #250c7d */
.hero-contact-us {
  height: 50vh;
  color: white;
  background-image: url("/assets/contact-us.jpg");
  background-size: cover;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: 0 50%, 100% 40%, 50% 50%;
  background-attachment: scroll, fixed, scroll;
}
.hero-contact-us img {
  max-height: 40vh;
  width: auto;
}
.form-control {
  border: 1px solid var(--bs-primary-color);
}

.required > span {
  color:red;
  margin-left: 5px;
}

.btn:disabled {
  cursor: not-allowed;
}