main.main{
  min-height: 100vh;
}
/* #3e11ba, #250c7d */
.hero {
  color: #FFF;
  height: 50vh;
  background-image: url('/assets/laptop-dark2.jpg'), linear-gradient(#000,#000);
  background-size: contain;
  background-repeat: no-repeat;
  /* background-position: 0 50%; */
}
.hero h4 {
  color: #FFF;
}
.hero img {
  max-height: 40vh;
  width: auto;
}
